*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

    #about03 .ab03_wrap .about03_left .ab03_box .about03_left_box {
        padding: 6%;
    }

    @media screen and (max-width:1440px) {
        #about03 .ab03_wrap .about03_left .ab03_box .about03_left_box p br{
            display: none;
        }
        
    }

    @media screen and (max-width:1024px) {
        #about03 .ab03_wrap .about03_left .ab03_box .about03_left_box {
            height: 333px;
            padding: 5%;
        }

        #about03 .bg_box {
            width: 100%;
            height: 48%;
        }
    }

    @media screen and (max-width:911px) {
    #about03 .ab03_wrap .about03_left .ab03_box .about03_left_box {

        padding: 7%;
    }

    #about03 .bg_box {
        width: 100%;
        height: 53%;
    }
}

@media screen and (max-width: 767px){
#about03 .bg_box {
    height: 60%;
}

}

@media screen and (max-width: 576px){
#about03 .ab03_wrap .about03_left .ab03_box .about03_left_box {
    height: 300px;}

    #about03 .bg_box {
        height: 63%;
    }
}

@media screen and (max-width: 425px){

    }

    @media screen and (max-width: 375px){
        #about03 .ab03_wrap .about03_left .ab03_box .about03_left_box {
            height: 280px;}
        
            #about03 .bg_box {
                height: 65%;
            }
        }

