*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

/*헤더*/


/* gtrax_coin 영역 */

#roadmap{
  width: 100%;
  background: url(../img/roadmap_bg.png) no-repeat center center;
  background-size: cover;
  padding: 4% 0;
  text-align: center;
}

#roadmap h3{
  color: #fff !important;
  margin-bottom: 45px;
}

.rdmap_wrap{
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 90%;
  border-radius: 30px;
  margin: 0 auto;
}

.rdmap_img_mb {
  display: none;
}

.rdmap_wrap {
  width: 80%;
  text-align: center;
}

.rdmap_wrap>.rdmap_img {
  width: 90%;
  margin: 80px auto 3%;
}

.rdmap_wrap>.rdmap_img>img {
  max-width: 80%;
}

/* contact us 영역 */

#contact_us{
  width: 100%;
  background: url(../img/contact_bg.png) no-repeat center;
  background-size: cover;
  padding: 6%;
}

#contact_us h3{
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 23%;
  height: 70px;
  margin: auto;
}

#contact_us h4{
  color: #222222 !important;
  text-align: center;
  margin-top: 10%;
  font-size: 1.6rem;
  font-weight: 700;
}

.contactus_container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 7%;
}

.reach{
  width: 30%;
  height: 300px;
  background-color: #fff;
  padding: 6% 0 3%;
  border-radius: 8px;
  box-shadow: 6px 5px 5px #999;
}


.reach_wrap >li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reach_wrap > li > img{
  width: 80%;
}

.reach_wrap li:nth-child(1){
  max-width: 13%;
  margin: 0 auto;
}

.reach_wrap li:nth-child(2){
  margin: 5% 0;
  font-weight: bold;
  color: #222222;
  text-align: center;
} 

.reach_wrap li:nth-child(3){
  color: #A6B3B9;
  font-size: 1em;
  text-align: center;
  margin-top: 10%;
}

.sns_icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  gap: 3%;
}

#contact_us .sns_icon .sns img{
  width: 50px;
  cursor: pointer;
}

/* contact 영역 */

#contact {
  width: 100%;
  /* height: 900px; */
  background-color: #222222;
  padding: 20px 0;
}

.cen_con{
  width: 80%;
  padding: 10% 5% 10% 20%;
  overflow: hidden;
}
.cen_con h3{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  color: white;
}

form input.email {
  width: 100%;
  height: 50px;
  padding: 4%;
  border-radius: 5px;
  background: rgba(237, 237, 237, 0.8);
  border: none;
}

form textarea {
  display: block;
  margin: 4% auto;
  border: none;
  background: rgba(237, 237, 237, 0.8);
  width: 100%;
  height: 250px;
  padding: 2% 4%;
  border-radius: 5px;
}

form input.send {
  width: 30%;
  height: 50px; 
  background-color: #3094B0;
  color: #fff;
  transition: all .3s ease-in;
  border-radius: 5px;
  float: right;
  border: none;
}